<form>
    <input
        name="name"
        placeholder="Saisir un prénom"
        value="{{userToForm.getName}}"
    />
    <input
        name="surname"
        placeholder="Saisir un nom"
        value="{{userToForm.getSurname}}"
    />
    <button>Ajouter</button>
</form>